:root {
  --background-color: #fff;
  --font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  --primary-color: #000;
  --text-lighter: #555;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  line-height: 1.6;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}
