:root {
  --background-color: #fff;
  --font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  --primary-color: #000;
  --text-lighter: #555;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  line-height: 1.6;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}
.nav-bar {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart-icon {
  text-decoration: none;
}
.cart-bag {
  fill: var(--primary-color);
  height: 40px;
  width: 40px;
}
.menu {
  background: none;
  border: none;
  cursor: pointer;
}
.menu-icon {
  fill: var(--primary-color);
  height: 32px;
  width: 32px;
}
.menu,
.menu-icon {
  display: block;
}
.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.nav-links li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid #eee;
  font-weight: normal;
  font-size: 25px;
}
.menu-container {
  background: var(--background-color);
  display: none;
  min-height: 80vh;
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
  z-index: 10;
}
.menu-container.active {
  display: block;
}
.search-container {
  padding: 20px 0;
}
.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
#searchInput {
  border: 1px solid #eee;
  color: var(--primary-color);
  flex-grow: 1;
  font-size: 1rem;
  padding: 10px;
}
#searchButton {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  color: var(--background-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 15px;
}
